@using ChatApp.Models
@model UserRelationshipModel

@{
    Layout = "../../Pages/Shared/_Layout.cshtml";
}
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/Friend.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>

<div style="display: flex; width: 100%; align-items: center; justify-content: center;">
    <div class='containerUser'>
        <img src="@Model.User.avatar" alt="User Avatar" style="border-radius: 50%; width: 150px; height: 150px; background-color: black; margin-top: 30px; object-fit: cover;"/>
        <h1 style="font-size: 2em">@Model.User.fullname</h1>
        <form class='formUser'>
        <div class="input-group">
            <label>Email:</label>
            <input type="text" name="name" value="@Model.User.email" readonly="true"/>
        </div>
        <div class="input-group">
            <label>Gender:</label>
            <input type="text" name="name" value="@(Model.User.gender == "1" ? "male" : "female")" readonly="true"/>
        </div>
        <div class="input-group">
            <label>Birthday:</label>
            <input type="text" name="name" value="@Model.User.birthday" readonly="true"/>
        </div>
        <div style="margin-bottom:20px, display: flex, flex-direction: row, justify-content: center">
            <div id="div-chat">
                <button type="button"  class='btn-chat' id="btn-chat" onClick="openChat()">Nhắn tin</button>
            </div>
            <div class="btn-group" id="div-btn">
                @if ((Model.Relationship == null || Model.Relationship.id == null) && Model.FriendRequest.id == null)
                {
                    <button type="button"  class='btn-add' id="btn-add-friend" onClick="makeFriendRequest('@Model.User.id')" style="visibility: visible">Thêm bạn bè</button>
                    <button type="button"  class='btn-friend' id="btn-unfriend" onClick="unFriend()" style="visibility: hidden">Hủy kết bạn</button>
                    <button type="button"  class='btn-cancel-request' id="btn-cancel-request" onClick="cancelRequest('@Model.User.id')" style="visibility: hidden">Hủy lời mời</button>
                    <button type="button"  class='btn-accept-request' id="btn-accept-request" onClick="acceptRequest('@Model.User.id')" style="visibility: hidden">Chấp nhận lời mời</button>
                }else if (Model.FriendRequest.id != null && Model.FriendRequest.makerId != Model.User.id) {
                    <button type="button"  class='btn-add' id="btn-add-friend" onClick="makeFriendRequest('@Model.User.id')" style="visibility: hidden">Thêm bạn bè</button>
                    <button type="button"  class='btn-friend' id="btn-unfriend" onClick="unFriend()" style="visibility: hidden">Hủy kết bạn</button>
                    <button type="button"  class='btn-cancel-request' id="btn-cancel-request" onClick="cancelRequest('@Model.User.id')" style="visibility: visible">Hủy lời mời</button>
                    <button type="button"  class='btn-accept-request' id="btn-accept-request" onClick="acceptRequest('@Model.User.id')" style="visibility: hidden">Chấp nhận lời mời</button>
                }else if (Model.FriendRequest.id != null && Model.FriendRequest.makerId == Model.User.id){
                    <button type="button"  class='btn-add' id="btn-add-friend" onClick="makeFriendRequest('@Model.User.id')" style="visibility: hidden">Thêm bạn bè</button>
                    <button type="button"  class='btn-friend' id="btn-unfriend" onClick="unFriend()" style="visibility: hidden">Hủy kết bạn</button>
                    <button type="button"  class='btn-cancel-request' id="btn-cancel-request" onClick="cancelRequest('@Model.User.id')" style="visibility: hidden">Hủy lời mời</button>
                    <button type="button"  class='btn-accept-request' id="btn-accept-request" onClick="acceptRequest('@Model.User.id')" style="visibility: visible">Chấp nhận lời mời</button>
                }else{
                    <button type="button"  class='btn-add' id="btn-add-friend" onClick="makeFriendRequest('@Model.User.id')" style="visibility: hidden">Thêm bạn bè</button>
                    <button type="button"  class='btn-friend' id="btn-unfriend" onClick="unFriend()" style="visibility: visible">Hủy kết bạn</button>
                    <button type="button"  class='btn-cancel-request' id="btn-cancel-request" onClick="cancelRequest('@Model.User.id')" style="visibility: hidden">Hủy lời mời</button>
                    <button type="button"  class='btn-accept-request' id="btn-accept-request" onClick="acceptRequest('@Model.User.id')" style="visibility: hidden">Chấp nhận lời mời</button>
                }
            </div>
        </div>
        </form>
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                        <button type="button" onclick="closeForm()" class="btn btn-danger rounded-1 border-1" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        Xóa kết bạn người này?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="cancelSave()" data-bs-dismiss="modal">Đóng</button>
                        @if (Model.Relationship != null && Model.Relationship.id != null)
                        {
                            <button type="button" class="btn btn-primary" onclick="saveData('@Model.Relationship.id')">Xóa</button>
                        }
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
</div>

<script>
    window.onload = function() {

    }

    function unFriend(){
        showConfirmation();
    }

    function showConfirmation() {
        $('#confirmationModal').modal('show');
    }

    function cancelSave() {
        $('#confirmationModal').modal('hide');
    }

    function closeForm()
    {
        cancelSave();
    }

    function saveData(id){
        $.post('/Friend/Unfriend', { relationshipId: id }, function(data) {
            if (data.success) {
                console.log("success");
                location.reload();
            } else {
                console.error(data.message);
            }
        });
        
        cancelSave();
        
    }

    function makeFriendRequest(receiverid){
        $.post('Friend/MakeFriendRequest', {receiverId : receiverid}, function(data) {
            if(data.success){
                console.log("success");
                showCancel();
            }else{
                console.error(data.message);
            }
        });
    }

    function showCancel(){
        document.getElementById('btn-add-friend').style.visibility = 'hidden';
        document.getElementById('btn-cancel-request').style.visibility = 'visible';
    }

    function showRequest(){
        document.getElementById('btn-add-friend').style.visibility = 'visible';
        document.getElementById('btn-cancel-request').style.visibility = 'hidden';
    }

    function showUnfriend(){
        document.getElementById('btn-unfriend').style.visibility = 'visible';
        document.getElementById('btn-accept-request').style.visibility = 'hidden';
    }

    function cancelRequest(receiverid){
         $.post('Friend/CancelRequest', {receiverId : receiverid}, function(data) {
            if(data.success){
                console.log("success");
                showRequest();
            }else{
                console.error(data.message);
            }
        });
    }

    function acceptRequest(makerid){
        $.post('Friend/AcceptRequest', {makerId : makerid}, function(data) {
            if(data.success){
                console.log("success");
                showUnfriend();
            }else{
                console.error(data.message);
            }
        });
    }

</script>
